{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<title>Correo Enviado</title>
<div class="bg-slate-100 dark:bg-principal p-4 min-h-screen flex items-center justify-center">
    <div class="max-w-md w-full bg-white dark:bg-secundario rounded-lg shadow-lg p-6 text-center" data-aos="fade-up" data-aos-delay="200">
        <div class="flex justify-center mb-4">
            <i class="fa-solid fa-file-invoice text-6xl text-blue-700"></i>
        </div>
        <h2 class="text-2xl font-bold text-gray-800 dark:text-blue-300 mb-4">Correo enviado</h2>
        <p class="text-gray-600 dark:text-gray-400 mb-6">
            Se ha enviado un correo electrónico a la dirección proporcionada con instrucciones para restablecer tu contraseña.
        </p>
        <a href="{% url 'security:auth_login' %}" class="inline-block bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full">
            Volver a Iniciar Sesión
        </a>
    </div>
</div>
{% endblock %}
{% block navbar %}
{% endblock navbar %}
