{% extends 'components/base.html' %}
{% block content %}
{% load static %}
<section class="dark:bg-principal py-12">
    <div class="text-center" data-aos="fade" data-aos-delay="200">
        <div class="sm:pt-28 lg:pt-4">
            <h1 class="dark:text-white text-4xl text-center mt-6 font-Pacifico">
                Detalles del Cliente
            </h1>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mx-4 lg:mx-20 my-12" data-aos="fade">
            <!-- Columna de la izquierda -->
            <div class="bg-white dark:bg-secundario rounded-3xl flex flex-col justify-center items-center p-8 shadow-lg"
                data-aos="fade-right" data-aos-delay="200">
                <div class="w-full text-center">
                    <h2 class="dark:text-blue-300 text-2xl text-center mt-6 font-Pacifico mb-4">Imagen del Cliente</h2>
                    <div id="imagenPreview">
                        {% if customer.image %}
                        <img id="imagenSeleccionada" src="{{ customer.image.url }}"
                            class="mx-auto d-block rounded-lg shadow-md" alt="Imagen del Cliente">
                        {% else %}
                        <img id="imagenSeleccionada" src="{% static 'img/default_supplier.jpg' %}"
                            class="mx-auto d-block rounded-lg shadow-md" alt="Imagen de Cliente por defecto">
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Columna de la derecha -->
            <div class="p-8 rounded-3xl dark:bg-secundario bg-white flex flex-col justify-center items-center shadow-lg"
                data-aos="fade-right" data-aos-delay="200">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full">
                    <div>
                        <div class="mb-8">
                            <label class="dark:text-blue-300 font-black uppercase text-lg">DNI:</label>
                            <h5 class="dark:text-blue-300 font-Pacifico">{{ customer.dni }}</h5>
                        </div>
                        <div class="mb-8">
                            <label class="dark:text-blue-300 font-black uppercase text-lg">Nombre:</label>
                            <h5 class="dark:text-blue-300 font-Pacifico">{{ customer.first_name }}</h5>
                        </div>
                        <div class="mb-8">
                            <label class="dark:text-blue-300 font-black uppercase text-lg">Apellido:</label>
                            <h5 class="dark:text-blue-300 font-Pacifico">{{ customer.last_name }}</h5>
                        </div>
                        <div class="mb-8">
                            <label class="dark:text-blue-300 font-black uppercase text-lg">Género:</label>
                            <h5 class="dark:text-blue-300 font-Pacifico">{{ customer.gender }}</h5>
                        </div>
                        <div class="mb-8">
                            <label class="dark:text-blue-300 font-black uppercase text-lg">Fecha de Nacimiento:</label>
                            <h5 class="dark:text-blue-300 font-Pacifico">{{ customer.date_of_birth |date:"D, d M Y" }}</h5>
                        </div>
                    </div>
                    <div>
                        <div class="mb-8">
                            <label class="dark:text-blue-300 font-black uppercase text-lg">Dirección:</label>
                            <h5 class="dark:text-blue-300 font-Pacifico">{{ customer.address }}</h5>
                        </div>
                        <div class="mb-8">
                            <label class="dark:text-blue-300 font-black uppercase text-lg">Teléfono:</label>
                            <h5 class="dark:text-blue-300 font-Pacifico">{{ customer.phone }}</h5>
                        </div>
                        <div class="mb-8">
                            <label class="dark:text-blue-300 font-black uppercase text-lg">Email:</label>
                            <h5 class="dark:text-blue-300 font-Pacifico">{{ customer.email }}</h5>
                        </div>
                        <div class="mb-8">
                            <label class="dark:text-blue-300 font-black uppercase text-lg">Latitud:</label>
                            <h5 class="dark:text-blue-300 font-Pacifico">{{ customer.latitude }}</h5>
                        </div>
                        <div class="mb-8">
                            <label class="dark:text-blue-300 font-black uppercase text-lg">Longitud:</label>
                            <h5 class="dark:text-blue-300 font-Pacifico">{{ customer.longitude }}</h5>
                        </div>
                    </div>
                </div>
                <div class="mb-8 flex flex-col justify-center items-center">
                    <label class="dark:text-blue-300 font-black uppercase text-lg">Activo:</label>
                    <h5 class="dark:text-blue-300 font-Pacifico">
                        Estado: 
                        {% if customer.active %}
                        <i class="fa-solid fa-check text-green-500"></i>
                        {% else %}
                        <i class="fa-solid fa-square-minus text-red-500"></i>
                        {% endif %}
                    </h5>
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-4">
            <a class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full flex items-center shadow-md transition duration-200 ease-in-out transform hover:scale-105"
                href="{% url 'core:customer_update' customer.id %}">
                <i class="fa-solid fa-edit mr-2"></i>Editar
            </a>
            <a class="bg-red-700 hover:bg-red-800 text-white py-2 px-4 rounded-full flex items-center shadow-md transition duration-200 ease-in-out transform hover:scale-105 ml-4"
                href="{% url 'core:customer_list' %}">
                <i class="fa-solid fa-arrow-left mr-2"></i>Volver
            </a>
        </div>
    </div>
</section>
{% endblock %}
